backend/src/main/resources/schemas/crmens/v1.0.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="crmens">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="issuer" type="xs:string"/>
        <xs:element name="entity" type="xs:string"/>
        <xs:element name="period" type="xs:string"/>
        <xs:element name="totalTtc" type="xs:decimal"/>
      </xs:sequence>
      <xs:attribute name="version" type="xs:string" use="optional"/>
    </xs:complexType>
  </xs:element>
</xs:schema>
